<?xml version="1.0"?>
<model>
  <name>basicbot</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Antigravity</name>
    <email>todo@todo.todo</email>
  </author>

  <description>
    A basic differential-drive robot with LiDAR and RGB camera.
  </description>
</model>
